.Header {
  width: 100%;
  background-color: green;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #69b243;
  box-sizing: border-box;
}

.score {
  color: white;
  margin: 0;
  font-family: 'Kalam', cursive;
  font-weight: bold;
}
