.line {
  width: 100%;
  height: 30px;
  display: flex;
}

.number {
  width: 20%;
  height: 100%;
}

.name,
.score {
  width: 40%;
  height: 100%;
}

.name {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.number,
.name,
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
