.AddYourScore {
  width: 100%;
  height: 100%;
}

.scoreInput {
  width: 250px;
  height: 50px;
  font-size: 25px;
  color: green;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  border: 3px solid #93d872;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.scoreInput:focus {
  border-color: #498f27;
  box-shadow: 0 0 8px 0 #498f27;
}

.submitButton {
  width: 110px;
  height: 50px;
  border: 3px solid #498f27;
  background-color: #93d872;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 25px;
  color: #498f27;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.submitButton:hover {
  transform: scale(1.1) perspective(1px);
}

.score {
  color: green;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  font-size: 4em;
  margin: 0;
}
