.StartPage {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
  width: 600px;
  height: 600px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border: 5px solid green;
}

.StartPage img {
  height: 60%;
}

.StartPage h1 {
  color: green;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  font-size: 4em;
  margin: 0;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tap {
  display: block;
  transition: all 1s ease-in-out;
  color: green;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  font-size: 1.8em;
}

.grow {
  transform: scale(1.25);
}

a {
  text-decoration: none;
}
