.list {
  list-style-type: none;
  width: 70%;
  padding: 0;
}

.list li {
  border-left: 2px solid green;
  border-right: 2px solid green;
  border-bottom: 2px solid green;
  color: green;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  font-size: 1.4em;
}

.list li:first-child {
  border: 3px solid green;
  box-sizing: border-box;
  background-color: #69b243;
  color: white;
  text-shadow: -1px 0 2px green, 0 1px 2px green, 1px 0 2px green,
    0 -1px 2px green;
}

.newElement {
  background-color: #7fcc57;
}

h1 {
  color: green;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  font-size: 3em;
  margin: 0;
}

.submitButton {
  width: 110px;
  height: 50px;
  border: 3px solid green;
  background-color: #69b243;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 25px;
  color: white;
  text-shadow: -1px 0 2px green, 0 1px 2px green, 1px 0 2px green,
    0 -1px 2px green;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.submitButton:hover {
  transform: scale(1.1) perspective(1px);
}
